<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tppmr.tp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_to_do"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_to_do"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tppmr.tp.activities.ShowListActivity" />
        <activity
            android:name="com.tppmr.tp.activities.SettingsActivity"
            android:theme="@style/SettingsTheme" />
        <activity android:name="com.tppmr.tp.activities.ChoixListActivity" />
        <activity android:name="com.tppmr.tp.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>